ul {
  li {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 15px;
    color: #afadb6;
    a {
      margin-left: 8px;
      transition: 0.3s;
    }
    svg {
    color: #afadb6;
    transition: 0.3s;
    }
    &:hover {
      svg {
        color: white;
      }
      a {
        color: white;
      }
    }
  }
}
